# Visual Studio 個別設定ファイル
*.suo
*.user
*.userosscache
*.sln.docstates

# ビルド中間生成物
*.obj
*.iobj
*.pdb
*.ipdb
*.idb
*.ilk
*.tlog/
*.lastbuildstate
*.cachefile

# 実行ファイル・ログ
*.exe
*.log

# ソリューション全体のキャッシュ／データベース
*.VC.

# ローカルビルド用フォルダ
[Bb]uild/
[Vv]cpkg_installed/
x64/
V-Graphics/x64/